head
  link(href='/lib/bootstrap/dist/css/bootstrap.css' rel='stylesheet')
  script(src='/lib/jquery/dist/jquery.js')
  script(src='/lib/bootstrap/dist/js/bootstrap.js')
  script(src='/app.js')

body
  h1 Bootstrapped

